/*==== Colors ====*/
$primary-color: #3076e0;
$black-color: #161616;
$white-color: #f1f1f1;
$gray-color: #515151;

/*==== Fonts ====*/
$font-family: "Titillium Web", sans-serif;
$height-t: 120%;
$height-p: 140%;

$font-size-title: 3.2rem;
$font-size-subtitle: 2.4rem;
$font-size-paragraph: 1.6rem;
$font-size-small: 0.8rem;

/*==== HTML Reset ====*/
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $font-family;
}

body {
	background: #ffffff;
}

a {
	text-decoration: none;
	color: $white-color;
}

li {
	list-style: none;
}

img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $black-color;
}
button {
	border: none;
}
main {
	section {
		padding: 0 4rem;
		margin: 3.2rem 0;
	}
}
