.header__main {
	height: 12vh;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.048);
	nav {
		height: 100%;
		ul {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 4rem;
			align-items: center;
			li {
				a {
					img {
						height: 3.2rem;
					}
				}
			}
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	.form__img {
		background-color: #f0f7fe;
		img {
			height: 100%;
			padding: 2rem 4rem;
		}
	}

	.form__content {
		margin: 2rem 6.4rem;

		form {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;

			label {
				margin-top: 1.6rem;
				font-size: $font-size-paragraph;
				line-height: $height-p;
			}

			input {
				background-color: #f0f0f0;
				border: none;
				border-radius: 4px;
				height: 2.8rem;
				padding: 1rem;
			}
			span {
				display: none;
				margin-top: 0.2rem;
				color: #e63636;
			}

			button {
				@include button;
				font-size: $font-size-paragraph;
				margin-top: 3.2rem;
			}

			.form__footer {
				span {
					display: block;
					color: $black-color;
					a {
						color: $primary-color;
					}
				}
				.return_to_project {
					margin-top: 2.4rem;
				}
				margin-top: 1.5rem;
				display: flex;
				align-items: center;
				flex-direction: column;
			}
		}

		legend {
			display: none;
			/*img {
			}*/
		}
	}
}

.toggle {
	display: none;
}

.home {
	h1 {
		margin-top: 3.2rem;
		font-size: $font-size-title;
		line-height: $height-t;
	}
	p {
		margin-top: 1.6rem;
		font-size: $font-size-paragraph;
		line-height: $height-p;
	}
	.section__search {
		margin-top: 2.4rem;
		display: flex;
		align-items: center;
		width: 100%;
		input {
			padding: 1.6rem 4.2rem;
			background-color: #f1f1f1;
			display: block;
			position: relative;
			width: 100%;
			border: none;
			outline-color: $primary-color;
			border-radius: 6rem;
			font-size: $font-size-paragraph;
		}
		svg {
			height: 16px;
			z-index: 1;
			position: absolute;
			color: $gray-color;
			margin-left: 1.6rem;
			margin-right: 0.8rem;
		}
	}
}

.books {
	.books__all {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.6rem;
		.books__items {
			img {
				object-fit: cover;
				object-position: center;
				aspect-ratio: 9/16;
				border-radius: 0.4rem;
			}
			h2 {
				margin-top: 0.8rem;
				font-size: 16px;
			}
			p {
				margin-top: 0.8rem;
				font-size: 12px;
			}
		}
	}
}

/* Page Books */

@import "medias";
