.header__main {
	height: 16vh;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.048);
	nav {
		height: 100%;
		ul {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 4rem;
			align-items: center;
			li {
				svg {
					color: $black-color;
				}
			}
		}
	}
}

.form__login {
	display: flex;
	flex-direction: column;

	img {
		background-color: #f0f7fe;
	}

	div {
		display: flex;
		flex-direction: column;
		padding: 0 4rem;
		margin: 2.4rem 0;

		label {
			margin-top: 1.6rem;
			font-size: $font-size-paragraph;
			line-height: $height-p;
		}

		input {
			background-color: #f0f0f0;
			border: none;
			border-radius: 4px;
			height: 2.8rem;
		}

		button {
			margin-top: 3.2rem;
			a {
				@include button;
				font-size: $font-size-paragraph;
				flex-direction: column;
			}
		}

		a {
			color: #3076e0;
		}

		span {
			margin-top: 0.6rem;
		}

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

.toggle {
	display: none;
}

.home {
	h1 {
		margin-top: 3.2rem;
		font-size: $font-size-title;
		line-height: $height-t;
	}
	p {
		margin-top: 1.6rem;
		font-size: $font-size-paragraph;
		line-height: $height-p;
	}

	button {
		margin-top: 3.2rem;
		a {
			@include button;
			font-size: $font-size-paragraph;
		}
	}
}

.description {
	h2 {
		font-size: $font-size-subtitle;
		line-height: $height-t;
	}
	p {
		margin-top: 1.6rem;

		font-size: $font-size-paragraph;
	}
}

.books__stars {
	h2 {
		font-size: $font-size-subtitle;
		line-height: $height-t;
	}
	.box__images {
		margin-top: 3.2rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 1.6rem;
		.item__image {
			img {
				aspect-ratio: 2/3;
			}
			h3 {
				margin-top: 0.8rem;
				font-size: 1.6rem;
			}
			p {
				margin-top: 0.2rem;
				font-size: 1.2rem;
			}
			.stars {
				margin-top: 0.8rem;
				display: flex;
				flex-direction: row;
				gap: 0.4rem;
				svg {
					color: yellow;
					width: 1.6rem;
					fill: yellow;
					polygon {
						background-color: yellow;
					}
				}
			}
		}
	}
	button {
		margin-top: 3.2rem;
		a {
			@include button;
			font-size: $font-size-paragraph;
		}
	}
}

footer {
	background-color: #ddedfc;
	margin-top: 3.2rem;
	padding-bottom: 3.2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	.footer__author {
		padding-top: 6.4rem;
		margin-bottom: 4rem;
		img {
			width: 30%;
		}
		h2 {
			font-size: $font-size-subtitle;
			padding-right: 8.5rem;
			margin-top: 0.8rem;
		}
	}

	.footer__info {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		h3 {
			font-size: $font-size-subtitle;
		}
		ul {
			li {
				a {
					color: $black-color;
					font-size: $font-size-paragraph;
				}
			}
		}
	}
}

/* Page Books */
.header__books {
	height: 16vh;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.048);
	display: flex;
	padding: 0 4rem;
	align-items: center;
	a {
		padding: 0.8rem;
		border-radius: 0.4rem;
		background-color: $white-color;
		&:hover {
			background-color: #d8d8d8;
		}
		svg {
			color: $black-color;
			width: 20px;
			height: 20px;
		}
	}
}
.section__search {
	display: flex;
	align-items: center;
	input {
		padding: 1.6rem 4.2rem;
		background-color: #f1f1f1;
		display: block;
		position: relative;
		border: none;
		width: 100%;
		outline-color: $primary-color;
		border-radius: 0.8rem;
		font-size: $font-size-paragraph;
	}
	svg {
		z-index: 1;
		position: absolute;
		color: $black-color;
		margin-left: 1.2rem;
		margin-right: 0.8rem;
	}
}
.books {
	.books__sort {
		display: flex;
		flex-direction: row;
		gap: 2.4rem;
		button {
			padding: 0.8rem 1.6rem;
			border-radius: 0.4rem;
			font-size: $font-size-paragraph;
			color: $black-color;
		}
	}
	.books__image {
		margin-top: 6.4rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.6rem;
		.item__image {
			h3 {
				font-size: 16px;
			}
			p {
				font-size: 12px;
			}
			.stars {
				margin-top: 0.8rem;
				display: flex;
				align-items: start;
				justify-content: start;
				gap: 0.4rem;
				svg {
					color: yellow;
					width: 16px;
					fill: yellow;
				}
			}
		}
	}
	.more__books {
		margin-top: 3.2rem;
		@include button;
	}
}
@import "medias";
