@media screen and (min-width: 720px) {
	html {
		font-size: 78.125%;
	}
	main {
		section {
			padding: 0 6rem;
			margin: 6.4rem 0;
		}
	}

	.toggle {
		display: flex;
		align-items: center;
		gap: 3.2rem;
		li {
			a {
				color: $black-color;
				font-size: $font-size-paragraph;
			}
			button {
				a {
					@include button;
					color: $white-color;
				}
			}
		}
	}
	.toggle__mobile {
		display: none;
	}

	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6.4rem;
		text-align: center;
		.home__info {
			margin-top: 6.4rem;
			h1 {
				margin-top: 0;
				width: 100%;
				max-width: 650px;
				margin-left: auto;
				margin-right: auto;
			}
			p {
				max-width: 650px;
			}
		}

		.section__search {
			display: flex;
			align-items: center;
			width: 100%;
			input {
				padding: 1.6rem 4.2rem;
				background-color: #f1f1f1;
				display: block;
				position: relative;
				width: 100%;
				border: none;
				outline-color: $primary-color;
				border-radius: 6rem;
				font-size: $font-size-paragraph;
			}
			svg {
				z-index: 1;
				position: absolute;
				color: $gray-color;
				margin-left: 1.6rem;
				margin-right: 0.8rem;
			}
		}
	}

	.books {
		.books__all {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 80%;
	}
	main {
		section {
			padding: 0 8rem;
			margin: 9.6rem 0;
		}
	}

	.books {
		.books__all {
			grid-template-columns: repeat(6, 1fr);
		}
	}

	.form {
		flex-direction: row;
		height: 100vh;

		.form__img {
			width: 60%;
		}

		.form__content {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40%;

			form {
				width: 100%;

				legend {
					display: flex;
					align-items: center;
					gap: 1.6rem;
					justify-content: center;
					margin-bottom: 3.2rem;
					img {
						height: 5.5rem;
						width: 5.5rem;
					}
					h1 {
						font-size: $font-size-subtitle;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1440px) {
	html {
		font-size: 90%;
	}
	.header__books {
		max-width: 1366px;
		margin: 0 auto;
		padding: 0;
	}
	main {
		section {
			max-width: 1366px;
			margin: 0 auto;
			padding: 3.2rem 0;
		}
	}
	.header__main {
		nav {
			max-width: 1366px;
			margin: 0 auto;
			ul {
				padding: 0;
			}
		}
	}
	.form {
		.form__img {
			img {
				padding: 0;
			}
		}
	}
}
