@media screen and (min-width: 720px) {
	html {
		font-size: 78.125%;
	}
	main {
		section {
			padding: 0 6rem;
			margin: 6.4rem 0;
		}
	}

	.form__login{
		div {
			div {
				flex-direction: row;
			}
		}
	}

	.toggle {
		display: flex;
		align-items: center;
		gap: 3.2rem;
		li {
			a {
				color: $black-color;
				font-size: $font-size-paragraph;
			}
			button {
				@include button;
				a {
					color: $white-color;
				}
			}
		}
	}
	.toggle__mobile {
		display: none;
	}

	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		h1 {
			margin-top: 0;
			width: 100%;
			max-width: 650px;
			margin-left: auto;
			margin-right: auto;
		}
		p {
			max-width: 650px;
		}
	}
	.books__stars {
		.box__images {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
	}
	footer {
		.footer__content {
			padding: 0 6rem;
			.footer__author {
				img {
					width: 20%;
				}
				h2 {
					padding-right: 9.6rem;
				}
			}
			.footer__info {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
	.header__books {
		padding: 0 6rem;
	}
	.books {
		.books__image {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
@media screen and (min-width: 1200px) {
	html {
		font-size: 80.125%;
	}
	main {
		section {
			padding: 0 8rem;
			margin: 9.6rem 0;
		}
	}
	.form__login {
		height: 100vh;
		flex-direction: row;
		img {
			width: 60%;
		}

		div {
			.header__logo__h1 {
				display: flex;
				justify-content: space-evenly;
				padding: 0;
				margin: 1.6rem 0;
				gap:1.6rem;

				img {
					width: 5.8rem;
					height: 5.8rem;
				}
			}
		}
	}
	.description {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: 3.2rem;
		img {
			width: 35%;
		}
	}
	.books__stars {
		.box__images {
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}
	footer {
		.footer__content {
			padding-left: 8rem;
			padding-right: 8rem;
			padding-bottom: 2.4rem;
			display: grid;
			grid-template-columns: 1fr 3fr;
			gap: 5.6rem;
			.footer__author {
				padding-top: 4.8rem;
				display: flex;
				flex-direction: column;
				gap: 0.8rem;
				h2 {
					font-size: $font-size-paragraph;
					padding: 0;
				}
			}
			.footer__info {
				padding-top: 4.8rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: start;
				gap: 1.6rem;
				div {
					width: 180px;
					h3 {
						font-size: $font-size-paragraph;
					}
					ul {
						li {
							a {
								font-size: $font-size-paragraph;
							}
						}
					}
				}
			}
		}
	}
	.header__books {
		padding: 0 8rem;
	}
	.books {
		.books__image {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}
@media screen and (min-width: 1440px) {
	html {
		font-size: 120.125%;
	}
	.header__books {
		max-width: 1366px;
		margin: 0 auto;
		padding: 0;
	}
	main {
		section {
			max-width: 1366px;
			margin: 0 auto;
			padding: 3.2rem 0;
		}
	}
	.form__login {
		img {
			object-fit: fill;
		}
	}
	.header__main {
		nav {
			max-width: 1366px;
			margin: 0 auto;
			ul {
				padding: 0;
			}
		}
	}
	.home {
		height: 100vh - 16vh;
	}
	footer {
		.footer__content {
			padding: 0;
			max-width: 1366px;
			margin: 0 auto;
		}
	}
}
