/*==== Colors ====*/
/*==== Fonts ====*/
/*==== HTML Reset ====*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

body {
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #161616;
}

button {
  border: none;
}

main section {
  padding: 0 4rem;
  margin: 3.2rem 0;
}

.header__main {
  height: 16vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.048);
}
.header__main nav {
  height: 100%;
}
.header__main nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}
.header__main nav ul li svg {
  color: #161616;
}

.form__login {
  display: flex;
  flex-direction: column;
}
.form__login img {
  background-color: #F0F7FE;
}
.form__login div {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  margin: 2.4rem 0;
}
.form__login div label {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 140%;
}
.form__login div input {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  height: 2.8rem;
}
.form__login div button {
  margin-top: 3.2rem;
}
.form__login div button a {
  border: none;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #3076e0;
  color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  flex-direction: column;
}
.form__login div button a:hover {
  background-color: #2761ce;
}
.form__login div a {
  color: #3076E0;
}
.form__login div span {
  margin-top: 0.6rem;
}
.form__login div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle {
  display: none;
}

.home h1 {
  margin-top: 3.2rem;
  font-size: 3.6rem;
  line-height: 120%;
}
.home p {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  line-height: 140%;
}
.home button {
  margin-top: 3.2rem;
}
.home button a {
  border: none;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #3076e0;
  color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 1.4rem;
}
.home button a:hover {
  background-color: #2761ce;
}

.description h2 {
  font-size: 2.4rem;
  line-height: 120%;
}
.description p {
  margin-top: 1.6rem;
  font-size: 1.4rem;
}

.books__stars h2 {
  font-size: 2.4rem;
  line-height: 120%;
}
.books__stars .box__images {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.6rem;
}
.books__stars .box__images .item__image img {
  aspect-ratio: 2/3;
}
.books__stars .box__images .item__image h3 {
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.books__stars .box__images .item__image p {
  margin-top: 0.2rem;
  font-size: 1.2rem;
}
.books__stars .box__images .item__image .stars {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.books__stars .box__images .item__image .stars svg {
  height: 1.6rem;
  color: yellow;
}
.books__stars .box__images .item__image .stars svg polygon {
  background-color: yellow;
}
.books__stars button {
  margin-top: 3.2rem;
}
.books__stars button a {
  border: none;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #3076e0;
  color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 1.4rem;
}
.books__stars button a:hover {
  background-color: #2761ce;
}

footer {
  background-color: #ddedfc;
  margin-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
footer .footer__author {
  padding-top: 6.4rem;
  margin-bottom: 4rem;
}
footer .footer__author img {
  width: 30%;
}
footer .footer__author h2 {
  font-size: 2.4rem;
  padding-right: 8.5rem;
  margin-top: 0.8rem;
}
footer .footer__info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
footer .footer__info h3 {
  font-size: 2.4rem;
}
footer .footer__info ul li a {
  color: #161616;
  font-size: 1.4rem;
}

/* Page Books */
.header__books {
  height: 16vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.048);
  display: flex;
  padding: 0 4rem;
  align-items: center;
}
.header__books a {
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: #f1f1f1;
}
.header__books a:hover {
  background-color: #d8d8d8;
}
.header__books a svg {
  color: #161616;
  width: 20px;
  height: 20px;
}

.section__search input {
  border: none;
  background-color: transparent;
  padding: 1.2rem 2.4rem;
  outline-color: #3076e0;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 0.8rem;
}
.section__search svg {
  color: #161616;
  margin-right: 2.4rem;
}

.books .books__sort {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}
.books .books__sort button {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  color: #161616;
}
.books .books__image {
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}
.books .books__image .item__image h3 {
  font-size: 16px;
}
.books .books__image .item__image p {
  font-size: 12px;
}
.books .books__image .item__image .stars {
  margin-top: 0.8rem;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.4rem;
}
.books .books__image .item__image .stars svg {
  color: yellow;
  width: 16px;
  fill: yellow;
}
.books .more__books {
  margin-top: 3.2rem;
  border: none;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #3076e0;
  color: #f1f1f1;
  border-radius: 0.4rem;
}
.books .more__books:hover {
  background-color: #2761ce;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 78.125%;
  }
  main section {
    padding: 0 6rem;
    margin: 6.4rem 0;
  }
  .toggle {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  .toggle li a {
    color: #161616;
    font-size: 1.4rem;
  }
  .toggle li button {
    border: none;
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: #3076e0;
    color: #f1f1f1;
    border-radius: 0.4rem;
  }
  .toggle li button:hover {
    background-color: #2761ce;
  }
  .toggle li button a {
    color: #f1f1f1;
  }
  .toggle__mobile {
    display: none;
  }
  .home {
    margin: 0;
    height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home h1 {
    margin-top: 0;
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .home p {
    max-width: 650px;
  }
  .books__stars .box__images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  footer .footer__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 93.75%;
  }
  main section {
    padding: 0 8rem;
    margin: 9.6rem 0;
  }
  .description {
    display: flex;
    flex-direction: row-reverse;
    gap: 3.2rem;
  }
  .description img {
    width: 40%;
  }
  .books__stars .box__images {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer .footer__author {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  footer .footer__author h2 {
    font-size: 1.4rem;
    padding: 0;
  }
  footer .footer__info {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.6rem;
  }
  footer .footer__info div {
    width: 180px;
  }
  footer .footer__info div h3 {
    font-size: 1.4rem;
  }
  footer .footer__info div ul li a {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
