/*==== Colors ====*/
/*==== Fonts ====*/
/*==== HTML Reset ====*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

body {
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #161616;
}

button {
  border: none;
}

main section {
  padding: 0 4rem;
  margin: 3.2rem 0;
}

.header__main {
  height: 12vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.048);
}
.header__main nav {
  height: 100%;
}
.header__main nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}
.header__main nav ul li a img {
  height: 3.2rem;
}

.form {
  display: flex;
  flex-direction: column;
}
.form .form__img {
  background-color: #f0f7fe;
}
.form .form__img img {
  height: 100%;
  padding: 2rem 4rem;
}
.form .form__content {
  margin: 2rem 6.4rem;
}
.form .form__content form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form .form__content form label {
  margin-top: 1.6rem;
  font-size: 1.2rem;
  line-height: 140%;
}
.form .form__content form input {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  height: 2.8rem;
  padding: 1rem;
}
.form .form__content form span {
  display: none;
  margin-top: 0.2rem;
  color: #e63636;
}
.form .form__content form button {
  border: none;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: #3076e0;
  color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  margin-top: 3.2rem;
}
.form .form__content form button:hover {
  background-color: #2761ce;
}
.form .form__content form .form__footer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form .form__content form .form__footer span {
  display: block;
  color: #161616;
}
.form .form__content form .form__footer span a {
  color: #3076e0;
}
.form .form__content form .form__footer .return_to_project {
  margin-top: 2.4rem;
}
.form .form__content legend {
  display: none;
  /*img {
  }*/
}

.toggle {
  display: none;
}

.home h1 {
  margin-top: 3.2rem;
  font-size: 3.6rem;
  line-height: 120%;
}
.home p {
  margin-top: 1.6rem;
  font-size: 1.2rem;
  line-height: 140%;
}
.home .section__search {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.home .section__search input {
  padding: 1.6rem 4.2rem;
  background-color: #f1f1f1;
  display: block;
  position: relative;
  width: 100%;
  border: none;
  outline-color: #3076e0;
  border-radius: 6rem;
  font-size: 1.2rem;
}
.home .section__search svg {
  height: 16px;
  z-index: 1;
  position: absolute;
  color: #515151;
  margin-left: 1.6rem;
  margin-right: 0.8rem;
}

.books .books__all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}
.books .books__all .books__items img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 9/16;
  border-radius: 0.4rem;
}
.books .books__all .books__items h2 {
  margin-top: 0.8rem;
  font-size: 16px;
}
.books .books__all .books__items p {
  margin-top: 0.8rem;
  font-size: 12px;
}

/* Page Books */
@media screen and (min-width: 720px) {
  html {
    font-size: 78.125%;
  }
  main section {
    padding: 0 6rem;
    margin: 6.4rem 0;
  }
  .toggle {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  .toggle li a {
    color: #161616;
    font-size: 1.2rem;
  }
  .toggle li button a {
    border: none;
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: #3076e0;
    color: #f1f1f1;
    border-radius: 0.4rem;
    color: #f1f1f1;
  }
  .toggle li button a:hover {
    background-color: #2761ce;
  }
  .toggle__mobile {
    display: none;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home h1 {
    margin-top: 0;
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .home p {
    max-width: 650px;
  }
  .home .section__search {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .home .section__search input {
    padding: 1.6rem 4.2rem;
    background-color: #f1f1f1;
    display: block;
    position: relative;
    width: 100%;
    border: none;
    outline-color: #3076e0;
    border-radius: 6rem;
    font-size: 1.2rem;
  }
  .home .section__search svg {
    z-index: 1;
    position: absolute;
    color: #515151;
    margin-left: 1.6rem;
    margin-right: 0.8rem;
  }
  .books .books__all {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 80%;
  }
  main section {
    padding: 0 8rem;
    margin: 9.6rem 0;
  }
  .books .books__all {
    grid-template-columns: repeat(6, 1fr);
  }
  .form {
    flex-direction: row;
    height: 100vh;
  }
  .form .form__img {
    width: 60%;
  }
  .form .form__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  .form .form__content form {
    width: 100%;
  }
  .form .form__content form legend {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 3.2rem;
  }
  .form .form__content form legend img {
    height: 5.5rem;
    width: 5.5rem;
  }
  .form .form__content form legend h1 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 90%;
  }
  .header__books {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
  }
  main section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 3.2rem 0;
  }
  .header__main nav {
    max-width: 1366px;
    margin: 0 auto;
  }
  .header__main nav ul {
    padding: 0;
  }
  .form .form__img img {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
